{% include '/header.html' %}

<div class="layui-card">
    <div class="layui-card-body">
        <span class="layui-breadcrumb">
            <a>业务归属</a>
            <a>我的申请单</a>
        </span>
    </div>
</div>
    
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" id="header_form" action="#" method="POST">
            <div class="layui-inline">
                <button type="button" id="addBtn" class="layui-btn">
                    <i class="layui-icon layui-icon-add-1"></i>
                    发起申请
                </button>
            </div>
        </form>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">    
        <div id="data_table" lay-filter="lay_data_table">
        </div>
    </div>
</div>

{# 行按钮 #}
<script type="text/html" id="rowBar">
    <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="detail">
        <i class="layui-icon layui-icon-more"></i>
    </button>
</script>

<script>
    layui.use(['table', 'jquery'], function(){
        var table = layui.table;
        tableResult = table.render({
            elem: '#data_table'
            ,title: ""
            ,url: '/ftmis/belongs/forms_query' //数据接口
            // ,width: 300
            ,page: true         //开启分页
            ,limit: 10          // 每一页显示记录数
            ,limits:[5, 10, 20]   // 每页返回记录数
            ,loading: true      // 现实加载条
            // ,where: {"name": ''}
            ,cols: [[ //表头
                {field: 'form_id', title: '申请单号', width:"20%", sort: true, fixed: 'left'}
                ,{field: 'applicant_name', width:"180", title: '申请人'}
                ,{field: 'applicant_time', width:"180", title: '申请时间'}
                ,{field: 'status', width:"160", title: '状态', templet:function (d) {
                                                    if(d.status==1) return '未提交'
                                                    if(d.status==3) return '部门审批'
                                                    if(d.status==0) return '作废'
                                                    if(d.status==5) return '审批通过'
                                                    if(d.status==9) return '生效'
                                                    else return '--'
                                                }}
                ,{field: '', title: '操作', toolbar: "#rowBar"}
            ]]
        });

        table.on('tool(lay_data_table)', function(obj){
            var layEvent = obj.event
            switch(obj.event) {
                case 'detail':
                    var index = layer.open({
                            type: 2,
                            title: "申请单: " + obj.data['form_id'],
                            area: ['100%', '100%'],
                            fix: false,
                            maxmin: true,
                            shadeClose: true,
                            shade: 0.4,
                            skin: 'layui-layer-rim',
                            content: ["/ftmis/belongs/belong_form/" + obj.data['form_id'], "no"],
                        });
                    break;
        }


        });
    
        $=layui.jquery;
        // 新增按钮
        $(document).on('click','#addBtn',function(){
            // header_form.action = '/ftmis/belongs/create_form'
            // header_form.submit()
            var index = layer.open({
                type: 2,
                title: "新增",
                area: ['100%', '100%'],
                fix: false,
                maxmin: true,
                shadeClose: true,
                shade: 0.4,
                skin: 'layui-layer-rim',
                content: ["/ftmis/belongs/create_form"]
            });


        });
    });
</script>

{% include '/footer.html' %}
