{% include '/header.html' %}

<h1>单个文件上传示例</h1>

<form class="layui-form" id="addform" name="addform" lay-filter="formConfig" method="post" action="/demo/file_upload/file_upload_action/" enctype="multipart/form-data">

    <div class="layui-form-item">
        <label class="layui-form-label">表单值V1</label>
        <div class="layui-input-block">
            <input type="text" name="v1" class="layui-input" id="v1" >
        </div>
    </div>

    <button type="button" class="layui-btn" id="upload_field">
        <i class="layui-icon">&#xe67c;</i>上传图片
    </button>
    <button type="button" class="layui-btn" id="upload_action">提交</button>

</form>

<script>
    layui.use(['upload', 'jquery'], function(){
        var $ = layui.jquery;
        var upload = layui.upload;
        
        //执行实例
        var uploadInst = upload.render({
            elem: '#upload_field' //绑定元素
            ,url: '/demo/file_upload/file_upload_action/' //上传接口
            ,auto: false        // 非自动提交
            ,multiple: false    // 一次提交一个文件
            ,accept: 'file'     // 允许上传的文件类型
            ,bindAction: '#upload_action'   // 绑定的上传动作按钮
            ,before: function() {
                // 将Form
                this.data = {
                    "v1": $("#v1").val()
                }
            }
            ,done: function(res){
                //假设code=0代表上传成功
                if(res.code == 0){
                    //do something （比如将res返回的图片链接保存到表单的隐藏域）
                    console.info("上传成功")
                    console.info(res)
                }
            }
            ,error: function(){
                //请求异常回调
                console.info("error")
            }
        });
    });
</script>
{% include '/footer.html' %}