{% include '/header.html' %}

<div class="layui-card">
    <div class="layui-card-body">
      <table class="layui-table" lay-skin="line">
          <colgroup>
            <col width="50">
            <col width="200">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <td>账号</td>
              <td>{{ current_user.id }}</td>
            </tr>
            <tr>
              <td>姓名</td>
              <td>{{ current_user.name }}</td>
            </tr>
            <tr>
                <td>隶属部门</td>
                <td>{{ current_user.get_dept_name() }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

{% include '/footer.html' %}