{% include '/header.html' %}

<div class="layui-card">
    <div class="layui-card-body">
    <form class="layui-form" id="myform" lay-filter="formConfig" method="post" action="" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">输入新密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" lay-verify="required" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">再次输入</label>
            <div class="layui-input-block">
                <input type="password" name="password2" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submitBtn" id="submitBtn">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
            </div>
        </div>
    </form>
    </div>
</div>

<script>
    layui.use(['form', 'jquery', 'layer'], function(){
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;

        // 表单提交
        lock = true
        form.on('submit(submitBtn)', function(data){
            if (myform.password.value != myform.password2.value) {
                layer.msg("两次密码必须相同", {icon: 5})
                console.log("两次密码必须相同")
                return false
            }

            if (lock == true) {
                field = data.field
                $.post('/auth/reset_password_action', field, function (ret) {
                    if (ret.success == false) {  //添加失败
                        layer.msg(ret.message, {icon: 5})
                    } else { //添加成功
                        layer.msg(ret.message)
                        submitBtn.disabled = true
                    }
                })
                lock = false
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>

{% include '/footer.html' %}