<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>欢迎</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
  <script src="{{ url_for('static', filename='layui/layui.js') }}"></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-card"></div>
        <blockquote class="layui-elem-quote">欢迎使用</blockquote>
    </div>
</div>


</body>
</html>