{% include '/header.html' %}

<div class="layui-card">
    <div class="layui-card-body">
      <table class="layui-table" lay-skin="line">
          <colgroup>
            <col width="50">
            <col width="200">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <td>部门ID</td>
              <td>{{ dept.id }}</td>
            </tr>
            <tr>
              <td>名称</td>
              <td>{{ dept.name }}</td>
            </tr>
            <tr>
              <td>名称</td>
              <td>{{ dept.get_dept_type_desc() }}</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>

{% include '/footer.html' %}
