{% include '/header.html' %}

<div class="layui-card">
    <div class="layui-card-body">
    <form class="layui-form" id="addform" name="addform" lay-filter="formConfig" method="post" action="" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-block">
                <input type="text" name="id" lay-verify="required" class="layui-input" disabled="True" value="{{ dept.id }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" required  lay-verify="required" placeholder="请输入部门名称" autocomplete="off" class="layui-input" value="{{ dept.name }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <input type="radio" id="dept_type" name="dept_type" value=1 title="业务部门">
                <input type="radio" id="dept_type" name="dept_type" value=2 title="中后台">
                <input type="hidden" id="dept_type_value" value="{{ dept.dept_type }}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submitBtn">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" id="resetBtn" class="layui-btn layui-btn-primary">
                    重置
                </button>
            </div>
        </div>
    </form>
    </div>
</div>

<script>
    layui.use(['form', 'jquery', 'layer'], function(){
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;

        // 回显 单选字段
        var radio = $('input:radio[name="dept_type"]')
        var radioLength = radio.length;
        for (var i = 0; i < radioLength; i++) {
            if (radio[i].value == $('#dept_type_value').val()) {
                $(radio[i]).prop("checked", true)
            }
        }
	    form.render();

        // 表单提交
        lock = true
        form.on('submit(submitBtn)', function(data){
            if (lock == true) {
                field = data.field
                $.post('/admin/dept/update/' + field["id"], field, function (ret) {
                    if (ret.success == false) {  //添加失败
                        layer.msg(ret.message, {icon: 5})
                    } else { //添加成功
                        layer.msg(ret.message, {icon: 6}, function () {
                            parent.layui.table.reload('data_table'); //重载表格
                        })
                    }
                })
                lock = false
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>

{% include '/footer.html' %}