{% include '/header.html' %}

<div class="layui-card">
    <div class="layui-card-body">
        <span class="layui-breadcrumb">
            <a>系统管理</a>
            <a>人员维护</a>
        </span>
    </div>
</div>
    
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" id="b" action="/admin/dept_index" method="POST">
            <div class="layui-inline">
                <button type="button" id="addBtn" class="layui-btn">
                    <i class="layui-icon layui-icon-add-1"></i>
                    新增人员
                </button>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">人员ID</label>
                <div class="layui-input-block">
                    <input type="text" id="q_id" placeholder="" autocomplete="off" class="layui-input">              
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">人员名称</label>
                <div class="layui-input-block">
                    <input type="text" id="q_name" placeholder="" autocomplete="off" class="layui-input">              
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button type="button" id="queryBtn" class="layui-btn layui-btn-normal">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <button type="reset" id="resetBtn" class="layui-btn layui-btn-primary">
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">    
        <div id="data_table" lay-filter="lay_data_table">
        </div>
    </div>
</div>

{# 行按钮 #}
<script type="text/html" id="rowBar">
    <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="detail">
        <i class="layui-icon layui-icon-more"></i>
    </button>
    <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">
        <i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script>
    layui.use(['table', 'jquery'], function(){
        var table = layui.table;
        tableResult = table.render({
            elem: '#data_table'
            ,title: "人员"
            ,url: '/admin/user_query' //数据接口
            ,page: true         //开启分页
            ,limit: 5           // 每一页显示记录数
            ,limits:[5, 10, 20]   // 每页返回记录数
            ,loading: true      // 现实加载条
            ,cols: [[ //表头
                {field: 'id', title: '编号', width:120, sort: true, fixed: 'left'}
                ,{field: 'name', title: '姓名', minWidth: 120}
                ,{field: 'dept_name', title: '部门'}
                ,{field: 'level', title: '层级', templet:function (d) {
                                                    if(d.level==1) return '员工'
                                                    if(d.level==5) return '部门'
                                                    if(d.level==9) return '全行'
                                                    else return '--'
                                                }},
                ,{field: 'status_desc', title: '状态'}
                ,{field: '', title: '操作', toolbar: "#rowBar"}
            ]]
        });

        table.on('tool(lay_data_table)', function(obj){
            var layEvent = obj.event
            switch(obj.event) {
                case 'detail':
                    var index = layer.open({
                            type: 2,
                            title: "人员: " + obj.data['name'],
                            area: ['50%', '50%'],
                            fix: false,
                            maxmin: true,
                            shadeClose: true,
                            shade: 0.4,
                            skin: 'layui-layer-rim',
                            content: ["/admin/user/" + obj.data['id'], "no"],
                        });
                    break;
                case 'edit':
                    var index = layer.open({
                            type: 2,
                            title: "人员: " + obj.data['name'],
                            area: ['50%', '50%'],
                            fix: false,
                            maxmin: true,
                            shadeClose: true,
                            shade: 0.4,
                            skin: 'layui-layer-rim',
                            content: ["/admin/user/modify/" + obj.data['id'], "no"],
                        });
                    break;
                case 'delete':
                    var delIndex = layer.confirm('真的删除编号为' + obj.data["id"] + "的记录吗?", function(delIndex) {
                        $.ajax({
                            url: '/admin/dept/delete/' + obj.data["id"],
                            type: "post",
                            success: function(suc) {
                                if (suc.code == 200) {
                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                    layer.close(delIndex);
                                    layer.msg("删除成功", { icon: 1});
                                } else {
                                    layer.msg("删除失败, " + suc.message, { icon: 5});
                                }
                            }
                        });
                    layer.close(delIndex);
                    });
                    break;
        }


        });
    
        $=layui.jquery;
        // 新增按钮
        $(document).on('click','#addBtn',function(){
            // layer.msg('Add Dept');
            var index = layer.open({
                            type: 2,
                            title: "添加人员",
                            area: ['50%', '60%'],
                            fix: false,
                            maxmin: true,
                            shadeClose: true,
                            shade: 0.4,
                            skin: 'layui-layer-rim',
                            content: ["/admin/dept/new", "no"],
                        });
        });
        // 查询按钮
        $(document).on('click','#queryBtn',function(){
            var q_name = $("#q_name").val()
            var q_id = $("#q_id").val()
            tableResult.reload({
                elem: '#data_table'
                ,url: '/admin/user_query' //数据接口
                ,where: {"name": q_name, "id": q_id}
            });
        });
    });
</script>

{% include '/footer.html' %}
