{% extends "/base.html" %}
{% block body %}
<div class="layui-card">
    <div class="layui-card-body">
        <span class="layui-breadcrumb">
            <a>选择人员</a>
        </span>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="/admin/choose_user" id='theForm' method="POST">
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="name" value="{{ f_name }}" autocomplete="off" class="layui-input">              
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">OA账号</label>
                <div class="layui-input-block">
                    <input type="text" name="oa_id" id="oa_id" value="{{ f_oa_id }}" autocomplete="off" class="layui-input">              
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button type="submit" id="queryBtn" class="layui-btn layui-btn-normal">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
      <table class="layui-table" lay-skin="line">
          <colgroup>
            <col >
            <col width="30%">
            <col width="30%">
            <col>
          </colgroup>
          <tbody>
            <tr>
                <th> . </th>  
                <th>姓名</th>  
                <th>OA账号</th>
                <th>部门</th>
            </tr>
            {% for user in users %}
            <tr>
                <td><input type="radio" onclick="user_click('{{ user.id }}', '{{ user.name }}', '{{ user.dept_id }}', '{{ user.get_dept_name() }}')"/></td>
                <td>{{ user.name }}</td>
                <td>{{ user.oa_id }}</td>
                <td>{{ user.get_dept_name() }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>


<script>
$=layui.jquery;
var callbackdata = {}   // 回调数据

function user_click(user_id, name, dept_id, dept_name){
    // console.log(user_id)
    callbackdata["user_id"] = user_id
    callbackdata["user_name"] = name
    callbackdata["dept_id"] = dept_id
    callbackdata["dept_name"] = dept_name
}

// 返回值
var callbackdata = function () {
    return callbackdata
}
</script>

{% endblock %}