<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>菜单示例</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <script src="../static/layui/layui.js"></script>
</head>
<body>
<!-- 左边的菜单栏 -->
<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="index/index.html">
            <span>什么后台系统</span>
        </div>
        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-back-left-menu">
            <!-- 递归的html数据填充在这里面 -->
        </ul>
    </div>
</div>

<script src="../static/js/jquery/3.4.1/jquery.min.js"></script>
<script>
    let menuStr = '[{"id":1,"pid":0,"name":"手机","children":[{"id":2,"pid":1,"name":"A手机","children":[{"id":3,"pid":2,"name":"A手机充电器","level":3,"url":"www.baidu.com"},{"id":4,"pid":2,"name":"A手机耳机","level":3}],"level":2},{"id":5,"pid":1,"name":"B手机","children":[{"id":6,"pid":5,"name":"B手机充电器","level":3},{"id":7,"pid":5,"name":"B手机耳机","children":[{"id":8,"pid":7,"name":"左耳机","level":4},{"id":9,"pid":7,"name":"右耳机","level":4,"url":"https://www.csdn.net/"}],"level":3}],"level":2}],"level":1}]';

    let modules = JSON.parse(menuStr); //字符串转对象
    //let modulesJson = JSON.stringify(modules); //对象转Json字符串
    console.log(modules)

    let leftSlider = getMenuTree(modules, 'id', 'pid', 'name', 'children', 'url'); //获取递归后的html内容
    $("#LAY-back-left-menu").html(leftSlider); //把html内容赋值给id元素LAY-back-left-menu

    console.log(leftSlider);

    //递归：获取左边菜单树形结构html
    function getMenuTree(data, idField, pidField, nameField, childrenField, urlField) {
        // var str = "<ul class=pid_tree>";
        var str = "";
        for (var i = 0; i < data.length; i++) {
            let value = data[i];
            if (value[pidField] == 0) {
                // 顶节点
                str += '<li data-name="component" class="layui-nav-item">\n' +
                    '                <a href="javascript:;" lay-tips="菜单栏" lay-direction="2">\n' +
                    '\n' +
                    '                    <cite>' + value[nameField] +'</cite>\n' +
                    '                </a>';
            } else {
                str += '<dl class="layui-nav-child">\n';

                //链接存在，跳相应的链接
                if (value[urlField]) {
                    str += '<dd data-name="grid"><a href="' + value[urlField] + '" style="margin: 0 0 0 10px;">' + value[nameField] +'</a>';
                } else {
                    str += '<dd data-name="list"><a href="javascript:;" style="margin: 0 0 0 10px;">' + value[nameField] +'</a>';
                }
            }

            if (value[childrenField]) { //存在children，调自己~
                str += getMenuTree(value[childrenField], idField, pidField, nameField, childrenField, urlField);
            }

            if (value[pidField] == 0) {
                // 顶节点
                str+="</li>";
            } else {
                str+="</dd></dl>";
            }
        }
        // str += "</ul>";
        return str;
    }

</script>
</body>
</html